.container {
    display: flex;
    align-items: center;
}

.imgleft{
    flex: 1;
    margin-right: 20px;
}

.re-container{
    flex: 2;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #5c9edb;
    outline: none;
}
