.main-content3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contentleft,
.contentright{
    width: calc(50% - 20px);
    padding: 20px;
    box-sizing: border-box;
}

.form-control{
    
}